# Dependencies
node_modules

# All dot files and directories
.*

# Whitelist specific dot files/directories we want to track
!.gitignore
!.github
!.vscode
!.env.default

dist

# Logs
*-debug.log*
*-error.log*

next-env.d.ts

# search
data.ms

